body {
    font-family: Arial;
    background-color: var(--cor-fundo-pagina);
}
.banner {
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    padding: 2vh 3vw;
    align-items: end;
    color: #eee;
}
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: 50% 60%;
    filter: blur(10px) brightness(0.4);
    z-index: -1;
    background-image: var(--banner-img);
}
.banner div {
    margin: 0 1.5vw;
    display: flex;
    flex-direction: column;
}
.banner div h1 {
    margin: 0;
}
.banner div h3 {
    margin: 0;
}
#community-description {
    width: 80%;
    text-align: justify;
    margin-bottom: 7vh;
}
.banner img {
    position: relative;
    bottom: -6vh;
    border-radius: 20px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
#edit-community {
    justify-self: end;
    width: 3vw;
    height: 3vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    color: #000;
    border-radius: 20px;
}
.group-content {
    width: 100%;
    display: flex;
}
.group-content>aside {
    width: 20%;
    background-color: var(--cor-primaria-ativa);
    color: var(--cor-texto-principal);
    padding-top: 5vh;
    padding-left: 2vw;
    border-width: 5px;
}
.group-content>div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-card);
}
#community-list div {
    display: flex;
    margin-bottom: 2vh;
    align-items: center;
}
#community-list a {
    display: flex;
}
#community-list img {
    border-radius: 99px;
    margin-right: 1vw;
    width: 3vw;
    height: 3vw;
    object-fit: cover;
}
#community-list button {
    width: 2vw;
    margin-left: 1vw;
    height: 2vw;
    border: none;
    outline: none;
    background-color: var(--cor-botao-neutro);
    border-radius: 99px;
    cursor: pointer;
    font-size: 1.2em;
}
#community-list i {
    color: var(--cor-texto-principal);
}
#btn-novacom {
    background-color: var(--cor-fundo-card);
    color: #111;
    text-decoration: none;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    padding: .7vw;
    font-size: .9em;
}
.home-button {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    width: fit-content;
}
.home-button i {
    margin-right: 1vw;
    font-size: 1.4em;
}
.group-content>aside input {
    width: 75%;
    border: 1px solid var(--cor-borda-suave);
    outline: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: .6em;
    font-family: inherit;

}
.content-filter {
    margin-top: 3vh;
    display: flex;
    width: 40vw;
    padding: .5vh 3vw;
    justify-content: space-between;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 4vh;
}
#post-list {
    margin-top: 5vh;
}
.post {
    width: 50vw;
    padding: 2vw;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.post img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}
.post-text h1 {
    text-align: center;
    margin: 30px 0 0 0;
}
.post-text p {
  --lines: 2;
  position: relative;
  line-height: 1.4;
  max-height: calc(1.4em * var(--lines));
  overflow: hidden;

}
.post-meta {
    color: #888;
    text-align: center;
}
.post-text p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.4em;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        #ddd 75%
    );
}
.post-vote {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}
.post-vote i {
    cursor: pointer;
}
.post-link {
    background-color: var(--cor-primaria-ativa);
    color: var(--cor-texto-principal);
    text-align: center;
    padding: 1.2vw;
    font-weight: 700;
    margin-top: 50px;
    border-radius: 20px;
    width: 30%;
    transition: .2s;
}
.post-link:hover {
    background-color: #57967a;
}
@media (max-width:1400px) {
    .post-rate button {
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
}
@media (max-width:1100px) {
    .group-content {
        flex-direction: column;
    }
    .group-content>aside {
        width: 100%;
        border-bottom: 1px solid #000;
        border-right: none;
    }
    .group-content>aside>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2vh;
    }
    .home-button {
        display: flex;
        width: fit-content;
        margin-top: 5vh;
    }
    .group-content>aside input {
        width: 90%;
        height: 10vh;
        font-size: 3vh;
    }
    .group-content>div {
        width: 100%;
    }
    #community-list img {
        border-radius: 99px;
        margin-right: 1vw;
        width: 7.5vw;
        height: 7.5vw;
        object-fit: cover;
    }
    .content-filter {
        width: 80vw;
    }
    .post {
        width: 80vw;
    }
    .post-rate {
        transform: translate(0,-20vh);
    }
    .post-rate button {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
    }
    #community-list button {
        width: 5vw;
        height: 5vw;
    }
    #edit-community {
        justify-self: end;
        width: 7vw;
        height: 7vw;
    }
    #edit-community i {
        font-size: 2em;
    }
}
@media (max-width:500px) {
    .banner h1 {
        font-size: 1.3em;
    }
    .banner h3 {
        font-size: .9em;
    }
    .banner img {
        width: 40vw;
        height: 40vw;
    }
    #community-list img {
        border-radius: 99px;
        margin-right: 1vw;
        width: 15vw;
        height: 15vw;
        object-fit: cover;
    }
    .group-content>aside>div {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
    }
    #community-list button {
        width: 10vw;
        height: 10vw;
    }
}